<button class="button">Button</button>
<button class="button  button--is-hover">Button:hover</button>
<button class="button  button--is-focus">Button:focus</button>
<button class="button  button--is-active">Button:active</button>
<button class="button  button--is-disabled">Button:disabled</button>
<button class="button  button--is-hollow">Button:hollow</button>
<button class="button  button--is-alt">Button:alt</button>
<button class="button  button--is-hollow-alt">Button:hollow:alt</button>

<a href="#" class="button">Button</a>
<a href="#" class="button  button--is-hover">Button:hover</a>
<a href="#" class="button  button--is-focus">Button:focus</a>
<a href="#" class="button  button--is-active">Button:active</a>
<a href="#" class="button  button--is-disabled">Button:disabled</a>
<a href="#" class="button  button--is-hollow">Button:hollow</a>
<a href="#" class="button  button--is-alt">Button:alt</a>
<a href="#" class="button  button--is-hollow-alt">Button:hollow:alt</a>