<p>Basic</p>
<button class="button">Button</button>

<p>States</p>
<button class="button  button--is-hover">Button:hover</button>
<button class="button  button--is-focus  button--is-focus">Button:focus / active</button>
<button class="button  button--is-disabled">Button:disabled</button>

<p>Styles</p>
<button class="button  button--primary">Button:primary</button>
<button class="button  button--secondary">Button:secondary</button>
<button class="button  button--tertiary">Button:tertiary</button>
<button class="button  button--positive">Button:positive</button>
<button class="button  button--negative">Button:negative</button>
<button class="button  button--neutral">Button:neutral</button>