<label class="form-field">
    <span class="form-field__label">Text Input</span>
    <input class="form-field__input  form-field__input--text"
           id="text"
           name="text"
           type="text"
           placeholder="Text Input">
</label>

<label class="form-field">
    <span class="form-field__label  form-field__label--is-valid">Valid Input</span>
    <input class="form-field__input  form-field__input--text  form-field__input--is-valid"
           id="text"
           name="text"
           type="text"
           placeholder="Text Input">
</label>

<label class="form-field">
    <span class="form-field__label  form-field__label--is-error">Error Input</span>
    <input class="form-field__input  form-field__input--text  form-field__input--is-error"
           id="text"
           name="text"
           type="text"
           placeholder="Text Input">
</label>