<label class="form-field">
    <input class="form-field__input  form-field__input--radio"
              id="radio1"
            name="radio"
            type="radio"><!--
 --><span class="form-field__indicator"></span><!--
 --><span class="form-field__label">Toggle this radio</span>
</label>
<label class="form-field">
    <input class="form-field__input  form-field__input--radio"
              id="radio2"
            name="radio"
            type="radio"><!--
 --><span class="form-field__indicator"></span><!--
 --><span class="form-field__label">Toggle this radio</span>
</label>
