<a class="tag" href="#"><span>Tag</span></a>
<a class="tag  tag--facebook" href="#"><span>Facebook</span></a>
<a class="tag  tag--twitter" href="#"><span>Twitter</span></a>
<a class="tag  tag--soundcloud" href="#"><span>Soundcloud</span></a>
<a class="tag  tag--mixcloud" href="#"><span>Mixcloud</span></a>
<a class="tag  tag--genre" href="#"><span>Genre</span></a>
<a class="tag  tag--itunes"><span>iTunes</span></a>
<a class="tag  tag--amazon"><span>Amazon</span></a>
<a class="tag  tag--shopify"><span>Shopify</span></a>
<a class="tag  tag--is-slim  tag--facebook" href="#"><span>Facebook</span></a>
<a class="tag  tag--is-icon  tag--twitter" href="#"><span>Twitter</span></a>