<ul class="track-list">
    <li class="track">
        <span class="track__title">Luke Cloudwalker</span><!--
     --><span class="track__time">5:01</span>
    </li>
    <li class="track">
        <span class="track__title">Rebel Swine</span><!--
     --><span class="track__time">5:01</span>
    </li>
    <li class="track">
        <span class="track__title">Like Swamp Rats</span><!--
     --><span class="track__time">5:01</span>
    </li>
    <li class="track">
        <span class="track__title">Mandelorian Attack</span><!--
     --><span class="track__time">5:01</span>
    </li>
</ul>
