<!doctype HTML>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  
  {% if site.dev == true %}
  <link href="/assets/css/main.css" rel="stylesheet" />
  <script src="/bower_components/prefixfree/prefixfree.min.js"></script>
  {% else %}
  <link href="/assets/css/main.min.css" rel="stylesheet" />
  {% endif %}
<body>
  
  {% include o-page-head.html %}
    
  {{content}}
    
  {% include o-primary-nav.html %}
  
  {% include o-page-foot.html %}
  
  {% include o-scripts.html %}