---
layout: blank
---
<!--
{ % include organisms/module--event.html %}

{ % include organisms/module.html %}

{ % include organisms/module--profile.html %}

{ % include organisms/module--tab.html %}

{ % include organisms/module--release.html %}
-->


{% include atoms/field--checkbox.html %}
{% include atoms/field--email.html %}
{% include atoms/field--number.html %}
{% include atoms/field--password.html %}
{% include atoms/field--radio.html %}
{% include atoms/field--range.html %}
{% include atoms/field--search.html %}
{% include atoms/field--select.html %}
{% include atoms/field--text.html %}
{% include atoms/field--textarea.html %}
{% include atoms/field--url.html %}


<hr>
<!--
<div class="module">
    <p>No head or foot</p>
</div>

<div class="module">
    <header class="module__head">
        <p>Head</p>
    </header>

    <p>Head and body</p>
</div>

<div class="module">
    <p>Foot and body</p>

    <footer class="module__foot">
        <p>Foot</p>
    </footer>
</div>

<div class="module">
    <header class="module__head">
        <p>Head</p>
    </header>

    <p>Head, Body, foot</p>


    <footer class="module__foot">
        <p>Foot</p>
    </footer>
</div>

<div class="module">
    <div class="pane">
        <header class="module__head">
            <p>Head</p>
        </header>

        <p>Head and body</p>
    </div>

    <div class="pane">
        <header class="module__head">
            <p>Head</p>
        </header>

        <p>Head and body</p>
    </div>

    <div class="pane">
        <header class="module__head">
            <p>Head</p>
        </header>

        <p>Head and body</p>
    </div>
</div>

<div class="module">
    <header class="module__head">
        <h1 class="module__title">
            Module Title
            <small class="module__title--small">Small Title</small>
        </h1>
    </header>

    <h1 class="module__title">
        Module Title in body
        <small class="module__title--small">Small Title</small>
    </h1>
</div>

<div class="module">
    <header class="module__head">
        <ul class="info-list">
            <li class="info-list__item  info-list__item--date">Date</li>
            <li class="info-list__item  info-list__item--time">Time</li>
            <li class="info-list__item  info-list__item--location">Location</li>
        </ul>
    </header>

    <ul class="info-list">
        <li class="info-list__item  info-list__item--date">Date</li>
            <li class="info-list__item  info-list__item--time">Time</li>
            <li class="info-list__item  info-list__item--location">Location</li>
    </ul>

    <footer class="module__foot">
        <ul class="info-list">
            <li class="info-list__item  info-list__item--date">Date</li>
            <li class="info-list__item  info-list__item--time">Time</li>
            <li class="info-list__item  info-list__item--location">Location</li>
        </ul>
    </footer>
</div>

<div class="module">
    <header class="module__head">
        <img class="artwork" src="//placehold.it/500x500">
    </header>

    <img class="artwork" src="//placehold.it/500x500">

    <footer class="module__foot">
        <img class="artwork" src="//placehold.it/500x500">
    </footer>
</div>

<div class="headshot">
    <img class="headshot__img"
         href="//placehold.it/128x128">
</div>

<div class="artwork">
    <img class="artwork__img"
         src="//placehold.it/500x500">
</div>

<div>
    <p class="person__name">Person Name</p>
    <h1 class="person__name">Person Name</h1>
    <h2 class="person__name">Person Name</h2>

    <p class="person__title">Person Title</p>
    <h1 class="person__title">Person Title</h1>
    <h2 class="person__title">Person Title</h2>
</div>

<div>
{% include molecules/tag-list.html %}
</div>

<div class="module">
    <header class="module__header">
        {% include molecules/tag-list.html %}
    </header>

    {% include molecules/tag-list.html %}

    <footer class="module__footer">
        {% include molecules/tag-list.html %}
    </footer>
</div>

<div>
    {% include molecules/track-list.html %}
</div>

-->