---
layout: default
---



<section class="about">
    <div class="wrapper">
        <div class="inner">
            <h1>About</h1>
            
            <p>Founded in 2011 by two friends. The idea was to create a place for friends to collaborate and produce music and art.</p>
            
            <p>Now, A multi-faceted music, art and design studio. From weekly radio broadcasts on current topics, to the latest in music trends. From the t-shirt designs done within the walls to the artwork done on the walls.</p>
        </div>
        
        <div class="person">
            <p>Jason Druyts</p>
            <small>Co-Founder</small>
        </div><!--
        
        --><div class="person">
            <p>Robert Edson</p>
            <small>Co-Founder</small>
        </div><!--
        
        --><div class="person">
            <p>Gregory Daynes</p>
            <small>Shortly After [2013]</small>
        </div>
    </div>
    
</section>

<section class="who">
    <div class="wrapper">
        <div class="inner">
            <h1>Who</h1>
            
            <p>We are just a bunch of friends who like to be creative in many different ways.</p>
        </div>
    <!--
    {% for people in site.data.people %}
        {% include partials/who.html %}
    {% endfor %}
    -->
        </div>
</section>

<section class="shows">
    <div class="wrapper">
        <div class="inner">
            <h1>Radio Shows & Broadcast</h1>
        </div><!--
        
        {% for show in site.data.shows %}
            {% include partials/show-listing.html %}
        {% endfor %}
        
        -->
    </div>
</section>


<section>    
    <h1>Services</h1>
    
    <p>Though we are a small group, our skills range from carpentry, to software development. Each of the D-Blok members are talented in many their respective fields.</p>
    
    <ul>
        <li>Music Production</li>
        <li>Computer Cut Vinyl Stickers</li>
        <li>Silk Screen Printing</li>
        <li>Graphic Design</li>
        <li>Promotional Websites and Consultation</li>
        <li>Looking for something else?
            <p>Contact us, we should be able to get you sorted out. If we can't help, we'll point you to someone who can.</p></li>
    </ul>
</section>
