---
layout: default
---

{{ content }}

<h2>Executives</h2>

{% for person in site.executives %}
  <div class="module  module--profile">
    
    <header class="module__head"
            style="background-image: url({{person.cover}});">
      <img class="profile__headshot" src="{{ person.headshot }}" />
      <h2 class="profile__name">{{ person.name }}
        <small class="profile__role">{{ person.title }}</small>
      </h2>
    </header>
    
    <div class="module__body">
      <p>{{ person.short-bio }}</p>
      
      {% if person.roles %}
      <ul class="profile__roles">
        {% for role in person.roles %}
        <li class="profile__role">{{role}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </div>
  </div>

{% endfor %}

<h2>Staff</h2>
{% for person in site.staff %}
  <div class="module  module--profile">
    
    <header class="module__head"
            style="background-image: url({{person.cover}});">
      <img class="profile__headshot" src="{{ person.headshot }}" />
      <h2 class="profile__name">{{ person.name }}
        <small class="profile__role">{{ person.title }}</small>
      </h2>
    </header>
    
    <div class="module__body">
      <p>{{ person.short-bio }}</p>
      
      {% if person.roles %}
      <ul class="profile__roles">
        {% for role in person.roles %}
        <li class="profile__role">{{role}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </div>
  </div>

{% endfor %}


