.button {
    display: inline-block;
    margin: $gutter--skinny 0;
    border-radius: $size--border-radius;
    border: none;
    background-color: $color--primary;
    padding-top: 0;
    padding-bottom: 0;
    padding-left:  $gutter--normal;
    padding-right:  $gutter--normal;
    line-height: $size--touch-target;
    color: $color--white;
    width: 100%;
    text-align: center;
}

    .button:hover,
    .button--is-hover {
        background-color: $color--primary-light;
        color: $color--white;
    }

    .button:focus,
    .button--is-focus,
    .button:active,
    .button--is-focus {
        background-color: $color--primary-dark;
    }

    .button--is-disabled {
        background-color: $color--gray-light;
        cursor: default;
    }

        .button--is-disabled:hover,
        .button--is-active {
            background-color: $color--gray-light;
        }

    .button--primary {}

    .button--secondary {
        background-color: transparent;
        border: 2px solid $color--white;
        line-height: $size--touch-target - 4px;
    }

        .button--secondary:hover {
            background-color: rgba(255,255,255,0.1);
        }

        .button--secondary:active {
            background-color: rgba(0,0,0,0.1);
        }

    .button--tertiary {
        background-color: $color--tertiary;
    }

        .button--tertiary:hover {
            background-color: $color--tertiary-light;
        }

        .button--tertiary:focus,
        .button--tertiary:active {
            background-color: $color--tertiary-dark;
        }