.cover {
    overflow: hidden;
    max-height: 100px;
    height: 20vw;
    position: relative;
    text-align: left;
}

    .cover img {
        width: 100%;
        height: auto;
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
    }