fieldset {
  @extend %reset-box;
  border: none;
}

/**
 * Legend
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Label
 */

label {
    display: block;

    /**
     * Required Notation
     */
    abbr[title] {
        border-bottom: none;
        text-decoration: none;
    }

    &.label--is-valid {
        color: $color--green;
    }

    &.label--is-error {
        color: $color--red;
    }
}

/**
 * Input
 */

input {
    width: 100%;
    border-radius: $size--border-radius;
    line-height: $size--touch-target;
    height: $size--touch-target;
    border: 1px solid $color--border;
    padding: 0 $gutter--narrow;
    color: $color--grey-dark;
    margin-bottom: $gutter--narrow;

    /**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     */

    &[type="search"] {
        -webkit-appearance: textfield; /* 1 */

        /**
         * 1. Remove inner padding and search cancel button in Safari and Chrome
         *    on OS X. Safari (but not Chrome) clips the cancel button when the
         *    search input has padding (and `textfield` appearance).
         */
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none; /* 1 */
        }
    }

    &:focus {
        outline: 3px solid $color--selection;
    }

    &.input--is-valid {
        border-width: 3px;
        color: $color--green;
        border-color: $color--green;
    }

    &.input--is-error {
        border-width: 3px;
        color: $color--red;
        border-color: $color--red;
    }
}

/**
 * Textarea
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto; /* 1 */
    margin-bottom: $gutter--narrow;

    width: 100%;
    border-radius: $size--border-radius;
    line-height: $size--touch-target;
    border: 1px solid $color--border;
    padding: 0 $gutter--narrow;
    color: $color--grey-dark;
    margin-bottom: $gutter--narrow;


    &:focus {
        outline: 3px solid $color--selection;
    }
}

/**
 * Checkbox
 */

input[type="checkbox"] {
    width: auto;
    float: left;
    margin-right: $gutter--narrow;
}

.checkbox-label {
    height: 44px;
    overflow: visible;
    white-space: nowrap;
    margin-bottom: $gutter--normal;

    span {
        line-height: $size--touch-target;
    }
}

/**
 * Radios
 */

 input[type="radio"] {
    width: auto;
    float: left;
    margin-right: $gutter--narrow;
 }

.radio-label {
    height: 44px;
    overflow: visible;
    white-space: nowrap;
    margin-bottom: $gutter--normal;

    span {
        line-height: $size--touch-target;
    }
}


/**
 * Range Input
 */

input[type="range"] {
    box-sizing: content-box;
    height: $gutter--skinny / 2;
    width: auto;
    display: block;
    -webkit-appearance: none;
    background-color: $color--white;
    border: 1px solid $color--border;
    margin-top: $size--touch-target / 2 - ($gutter--skinny / 2);
    margin-bottom: $size--touch-target / 2 - ($gutter--skinny / 2);
 }

::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $color--primary;
    width: $gutter--narrow;
    height: $gutter--narrow;
    border-radius: 50%;
    border: 1px solid $color--border;
}

/**
 * Select
 */

select {
    text-transform: none;
    height: 44px;
    margin: $gutter--normal - ($gutter--normal / 2) 0;
    line-height: $size--touch-target;
    border: 1px solid $color--border;
    color: $color--border;
    width: 100%;
}
