h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %reset-box;

    line-height: 1.5;
}

h1 {
    font-size: $type--large;

}

h2 {
    font-size: $type--title;
}

h3 {

    font-size: $type--small;
}

h4 {
    font-size: $type--base;
}

h5 {
    font-size: $type--tiny;
}

h6 {
    font-size: $type--micro;
}
