/**
 * Unordered List
 */

ul {
    padding-left: $gutter--normal;
}

li {

}


/**
 * Ordered List
 */

ol {
    padding-left: $gutter--normal;
}

li {

}


/**
 * Definition List
 */

dd {
    padding-left: $gutter--normal - 2;
    border-left: 2px solid $color--border;
    margin-left: 0;
    margin-bottom: $gutter--narrow;
    background-color: rgba(255,255,255,0.05);
}
