.tag {
    color: $color--white;
    white-space: nowrap;
    background-color: $color--grey-medium;
    border-radius: $size--border-radius;
    overflow: hidden;
    line-height: $gutter--normal;
    padding: 0 $gutter--skinny;
    display: inline-block;
    margin-bottom: $gutter--skinny;
    margin-right: $gutter--skinny;
}


    .tag span:before {
        font-family:"icons";
        font-weight: normal;
        font-style: normal;
        speak: none;
        text-decoration: none;
        text-transform: none;
        text-rendering:optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;

        background-color: $color--white;
        min-width: $gutter--normal;
        text-align: center;
        display: inline-block;
        margin-left: -$gutter--skinny;
        margin-right: $gutter--skinny;
        height: $gutter--normal;
        padding-left: 2px;
    }


    .tag--genre {

    }
    .tag--facebook {
        background-color: $color--facebook;
        span:before {
            color: $color--facebook;
            @extend .icon--facebook;
        }
    }
    .tag--twitter {
        background-color: $color--twitter;
        span:before {
            color: $color--twitter;
            @extend .icon--twitter;
        }
    }
    .tag--soundcloud {
        background-color: $color--soundcloud;
        span:before {
            color: $color--soundcloud;
            @extend .icon--soundcloud;
        }
    }
    .tag--mixcloud {
        background-color: $color--mixcloud;
        span:before {
            color: $color--mixcloud;
            @extend .icon--cloud;
        }
    }
    .tag--itunes {
        background-color: $color--itunes;
        span:before {
            color: $color--itunes;
            @extend .icon--apple;
        }
    }
    .tag--shopify {
    background-color: $color--shopify;
        span:before {
            color: $color--shopify;
            @extend .icon--shopify;
        }
    }
    .tag--amazon {
    background-color: $color--amazon;
        span:before {
            color: $color--amazon;
            @extend .icon--amazon;
        }
    }


