---
layout: default
permalink: /styleguide/atoms/index.html
---

<article class="styleguide  styleguide__atoms">
    <h1 class="styleguide__section-title">Atoms</h1>


    <!-- ATOM: fonts -->
    {% capture code %}{% include atoms/font.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/fonts/">Fonts</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">
{{ code | escape }}
                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">
                {{ code }}
            </div>
        </div>
    </div> <!-- /ATOM -->





    <!-- ATOM: Headings -->
    {% capture code %}{% include atoms/heading.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/headings/">Headings</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">
{{ code | escape }}
                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->




    <!-- ATOM: Paragraph -->
    {% capture code %}{% include atoms/paragraph.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/paragraphs/">Paragraph</a></h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">
{{ code | escape }}
                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->





    <!-- ATOM: block-quote -->
    {% capture code %}{% include atoms/block-quote.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/block-quotes">Block Quote</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">
{{ code | escape }}
                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->




    <!-- ATOM: inline-elements -->
    {% capture code %}{% include atoms/inline-element.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/inline-elements">Inline Elements</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">

{{ code | escape }}

                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->




    <!-- ATOM: time -->
    {% capture code %}{% include atoms/time.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/time">Time</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">

{{ code | escape }}

                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->





    <!-- ATOM: Pre -->
    {% capture code %}{% include atoms/preformatted-text.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/preformatted-text">Pre</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">

{{ code | escape }}


                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->





    <!-- ATOM: hr -->
    {% capture code %}{% include atoms/horizontal-rule.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/horizontal-rule">HR</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">

{{ code | escape }}

                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">

                {{ code }}

            </div>
        </div>
    </div> <!-- /ATOM -->




    <!-- ATOM: list--unordered -->
    {% capture code %}{% include atoms/list--unordered.html %}{% endcapture %}
    <div class="styleguide__atom">
        <h2 class="styleguide__atom-title">
            <a href="/styleguide/atoms/lists">List: Unordered</a>
        </h2>

        <div class="styleguide__description">

        </div>

        <div class="styleguide__code">
            <h3 class="styleguide__code-head">Usage</h3>

            <pre class="styleguide__code-pre">
                <code class="styleguide__code-area">
    {{ code | escape }}
                </code>
            </pre>

        </div><!--

     --><div class="styleguide__demo">
            <h3 class="styleguide__demo-head">Example</h3>

            <div class="styleguide__preview">
                {{ code }}
           </div>
        </div>
    </div> <!-- /ATOM -->





<!-- ATOM: List: ORdered -->
{% capture code %}{% include atoms/list--ordered.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/lists">List: Ordered</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: List: Defintiion -->
{% capture code %}{% include atoms/list--definition.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/lists">List: Definition</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->





<!-- ATOM: Fields: Checkbox -->
{% capture code %}{% include atoms/field--checkbox.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Fields: Checkbox</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->





<!-- ATOM: Fields: Email -->
{% capture code %}{% include atoms/field--email.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Fields: Email</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->





<!-- ATOM: Fields: Numer -->
{% capture code %}{% include atoms/field--number.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Fields: Number</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: Field: Password -->
{% capture code %}{% include atoms/field--password.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Password</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->





<!-- ATOM: field: password -->
{% capture code %}{% include atoms/field--password.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Password</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->





<!-- ATOM: Field: Radio -->
{% capture code %}{% include atoms/field--radio.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Radio</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->

<!-- ATOM: Field: Range -->
{% capture code %}{% include atoms/field--range.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Range</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->


<!-- ATOM: Field: Search -->
{% capture code %}{% include atoms/field--search.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Search</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: Field: Select -->
{% capture code %}{% include atoms/field--select.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Select</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->



<!-- ATOM: Field: Text -->
{% capture code %}{% include atoms/field--text.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Text</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: Field: Textarea -->
{% capture code %}{% include atoms/field--textarea.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Textarea</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->



<!-- ATOM: Field: Url -->
{% capture code %}{% include atoms/field--url.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/fields">Field: Url</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->


<!-- ATOM: Progress -->
{% capture code %}{% include atoms/progress.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/progress">Progress</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->


<!-- ATOM: Button -->
{% capture code %}{% include atoms/button.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/buttons">Button</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->


<!-- ATOM: Table -->
{% capture code %}{% include atoms/table.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/tables">Tables</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: Tag -->
{% capture code %}{% include atoms/tag.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/tables">Tag</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




<!-- ATOM: Rating -->
{% capture code %}{% include atoms/rating.html %}{% endcapture %}
<div class="styleguide__atom">
    <h2 class="styleguide__atom-title">
        <a href="/styleguide/atoms/tables">Rating</a>
    </h2>

    <div class="styleguide__description">

    </div>

    <div class="styleguide__code">
        <h3 class="styleguide__code-head">Usage</h3>

        <pre class="styleguide__code-pre">
            <code class="styleguide__code-area">
{{ code | escape }}
            </code>
        </pre>

    </div><!--

 --><div class="styleguide__demo">
        <h3 class="styleguide__demo-head">Example</h3>

        <div class="styleguide__preview">
            {{ code }}
       </div>
    </div>
</div> <!-- /ATOM -->




</article>