{% comment %}
Site-Scripts

loads scripts to bottom of page

use in each file to add script to the "js" string array
{% capture js %}{% if js %}{{js}}|{% endif %}/assets/js/site-nav.js{% endcapture %}

---
below the code takes the "js" string array and converts it into a liquid array

Then the array is looped to create a list of scripts
{% endcomment %}

{% assign js = js | split: "|" %}


{% for js in js %}
  <script src="{{js}}"></script>
{% endfor %}

<!-- build :remove:deploy -->
<script src="/bower_components/perfbar/build/perfbar.js"></script>
<script type="text/javascript">
perfBar.init();

var err = perfBar.addMetric({
  id: 'Test',
  label: 'Test new metric', // human readable name
  value: 18,
  budget: {
    max: 20,
    min: 1
  }
});

if ( !err ) console.log('Woho , no errors all is ok!');
</script>
<!-- /build -->