<div id="event-module" class="module  module--is-event">

    <header class="module__head">

        <h1 class="module__title">
            Upcoming Event
        </h1>

    </header>

    <div class="module__body event__body">

        <h1 class="event__title">The Friday Night Warmup</h1>
        <h2 class="event__sub-title">Featuring Lokie &amp; Triple XL</h2>

        <div class="event-info">
            <ul class="event-info__date">
                <li class="event-info__month">Oct</li>
                <li class="event-info__day">3</li>
            </ul>

            <ul class="event-info__time">
                <li class="event-info__start"><time>8pm</time></li>
                <li class="event-info__end"><time>10pm</time></li>
            </ul>

            <ul class="event-info__location">
                <li class="event-info__location">dblokstudios.com</li>
            </ul>
        </div>



        <button class="button  button--is-hollow">View Event Page</button>
    </div>
</div>