<div class="module  module--is-profile">

    <header class="module__head">
        <div class="image">
            <img  class="image__img"
                  src="//placehold.it/500x200" />
        </div>

        <div class="image  image--headshot">
            <img  class="image__img"
                  src="//placehold.it/128x128" />
        </div>

        <h1 class="person-name">
            Gregory Daynes
            <small class="person-role">Chief Technical Officer</small>
        </h1>

    </header>

    <div class="module__body">
        <p>Graphic designer and teacher. Still walking with earphones in his ears. Design addict.</p>
    </div>

    <footer class="module__foot">
        <ul class="tag-list">
            <li class="tag-list__item">
              <a class="tag  tag--facebook"href="#"><span>Facebook</span></a>
            </li>
         <li class="tag-list__item">
              <a class="tag  tag--twitter"href="#"><span>Twitter</span></a>
            </li>
         <li class="tag-list__item">
              <a class="tag  tag--soundcloud"href="#"><span>Soundcloud</span></a>
            </li>
         <li class="tag-list__item">
              <a class="tag  tag--mixcloud"href="#"><span>Mixcloud</span></a>
            </li>
          </ul>
    </footer>

</div>