<div class="module  module--is-release">
    <header class="module__head">

        <div class="image">
            <img class="image__img"src="//placehold.it/500x500" />
        </div>


        <h1 class="release__title  artist__name">Empire <small class="release__name">Strike Back</small></h1>
    </header>

    <div class="module__body">

        <p class="release__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <ul class="tag-list">
            <li class="tag-list__item">
                <a class="tag  tag--genre" href="#"><span>House</span></a>
            </li>
            <li class="tag-list__item">
                <a class="tag  tag--genre" href="#"><span>Minimal</span></a>
            </li>
            <li class="tag-list__item">
                <a class="tag  tag--genre" href="#"><span>Techno</span></a>
            </li>
        </ul>

        <ul class="track-list">
            <li class="track">
                <span class="track__title">Luke Cloudwalker</span>
                <span class="track__time">5:01</span>
            </li>
            <li class="track">
                <span class="track__title">Rebel Swine</span>
                <span class="track__time">5:01</span>
            </li>
            <li class="track">
                <span class="track__title">Like Swamp Rats</span>
                <span class="track__time">5:01</span>
            </li>
            <li class="track">
                <span class="track__title">Mandelorian Attack</span>
                <span class="track__time">5:01</span>
            </li>
        </ul>


    </div>

    <footer class="module__foot">
        <ul class="tag-list">
            <li class="tag-list__item">
                <a class="tag    tag--itunes"><span>iTunes</span></a>
            </li>
            <li class="tag-list__item">
                <a class="tag    tag--amazon"><span>Amazon</span></a>
            </li>
            <li class="tag-list__item">
                <a class="tag    tag--shopify"><span>Shopify</span></a>
            </li>
        </ul>
    </footer>
</div>