@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('/assets/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('/assets/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('/assets/fonts/fontawesome-webfont.svg?v=4.1.0}#fontawesomeregular') format('svg');
  //src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

%fontawesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: $gutter--skinny;
  
}

// Automatic Icons

[href^="http"]:not([href*="$site-domain"]):before,
[href^="https"]:not([href*="$site-domain"]):before {
  @extend %fontawesome;
  content: "\f08e";
}
[href^="https"]:before {
  @extend %fontawesome;
  content: "\f023";
}
[href$="pdf"]:before  {
  @extend %fontawesome;
  content: "\f1c1";
}
[href^="mailto:"]:before {
  @extend %fontawesome;
  content: "\f0e0";
}
[href*="twitter.com"]:before {
  @extend %fontawesome;
  content: "\f099";
}

[href*="facebook.com"]:before {
  @extend %fontawesome;
  content: "\f09a";
}
[href*="instagram.com"]:before {
  @extend %fontawesome;
  content: "\f16d";
}
[href*="youtube.com"]:before {
  @extend %fontawesome;
  content: "\f167";
}
[href*="mixcloud.com"]:before {
  @extend %fontawesome;
  content: "\f0c2";
}

// Classed Icons
.page-nav__link:before {
  @extend %fontawesome;
}
  
.page-nav__link--home:before {
  content: "\f015";
}

.page-nav__link--artists:before {
  content: "\f0c0";
}

.page-nav__link--shows:before {
  content: "\f09e";
}

.page-nav__link--about:before {
  content: "\f129";
}

.page-nav__link--events:before {
  content: "\f073";
}
