/****************************\
    #PAGE-FOOT
\****************************/

.page-foot {
    @extend %container;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color--primary;

    .social-nav {
        width: 102.5%;
        margin-left: -1.25%;
    }
    
        .social-nav__list {
            @extend %reset-list;
            @extend %grid--full;
        }
        
            .social-nav__item {
                @extend %one-third;
                
                display: inline-block;
                border-right: 1px solid lighten($color--primary, 5%);
                
                &:last-child {
                    border-right: none;
                }
            }
            
                .social-nav__link {
                    color: $color--white;
                    display: block;
                    background-color: lighten($color--primary, 2.5%);
                    padding-right: $size--touch-target / 2;
                    text-align: center;
                    text-decoration: none;
                    line-height: $size--touch-target;
                }
                
    .copyright {
        float: left;
        color: lighten($color--primary, 30%);
        padding-top: $gutter--narrow;
        padding-bottom: $gutter--skinny;
        
    }
        
        .copyright__small {}
        
    
    .fine-print-nav {
        float: right;
        padding-top: $gutter--narrow;
        padding-bottom: $gutter--skinny;
    }
    
        .fine-print-nav__list {
            @extend %reset-list;
            
            text-align: center;
        }
        
            .fine-print-nav__item {
                display: inline-block;
            }
            
                .fine-print-nav__link {
                    color: $color--white;
                    font-size: $type--small;
                    text-decoration: none;
                    color: lighten($color--primary, 30%);
                    margin: 0 $gutter--narrow;
                }
}
    
    
    