/**
 * An element (`nav`) in which to house our dropdown.
 *
 * 1. Make sure we can’t actually see the absolutely positioned dropdown.
 */
.site-nav {
    position: relative;
    z-index: 1;
    width:  44px;
    height: 44px;
    color: #fff;
    background-color: #663399;
    overflow: hidden; /* [1] */
    border-radius: 3px;
    cursor: pointer;

    /**
     * Make the wrapper element lie horizontally on wider viewports.
     * Nasty RWD makes us undo a lot of stuff :(
     */
    @media screen and (min-width: 720px) {
        position: static;
        width:  auto;
        height: auto;
        background: none;
        color: #663399;
    }

    /**
     * Place a hamburger (don’t hate the player, hate the game...) icon
     * over the top of our nav element.
     */
    &:after {
        content: "☰";
        font-size: 16px;
        width: 1em;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top:  -(16px / 2);
        margin-left: -(16px / 2);

        /**
         * Remove the hamburger on wider viewports.
         */
        @media screen and (min-width: 720px) {
            content: normal;
            content: none;
        }

    }

}

/**
 * When we add this class, we simply allow the absolutely positioned
 * dropdown to be seen.
 */
.site-nav--open {
    overflow: visible;

    /**
     * Change the hamburger to a cross when the nav is open.
     */    
    &:after {
        content: "✕";

        /**
         * Remove the cross on wider viewports.
         * We have to repeat this chunk because of limitations with Sass.
         */
        @media screen and (min-width: 720px) {
            content: normal;
            content: none;
        }

    }

}

    /**
     * The absolutely positioned dropdown of links.
     *
     * 1. Position the dropdown underneath the trigger.
     */
    .site-nav__list {
        list-style: none;
        margin:  0;
        padding: 0;
        padding-top: 44px;
        position: absolute;
        top:   0;
        left:  0;
        background-color: #663399;
        width: 250px;
        border-radius: 3px;
        z-index: -1; /* [1] */

            /**
             * Un-position the dropdown on larger viewports.
             * More nasty RWD undoing stuff :(
             */
            @media screen and (min-width: 720px) {
                padding-top: 0;
                position: static;
                width: auto;
                display: block;
                background: none;
                text-align: left;
            }

    }

        .site-nav__item {
            border-top: 1px solid lighten(#663399, 10%);

                @media screen and (min-width: 720px) {
                    display: inline-block;
                    border-top: none;
                }

        }

            /**
             * 1. Ensure that the link text lines up with the hamburger.
             * 2. Ensure that the link text is the same height as the trigger.
             */
            .site-nav__link {
                color: #fff;
                display: block;
                white-space: nowrap;
                padding-right: (44px - 16) / 2; /* [1] */
                padding-left:  (44px - 16) / 2; /* [1] */
                line-height: 44px; /* [2] */

                @media screen and (min-width: 720px) {
                    color: #663399;
                }

            }