html {
  position: relative;
  min-height: 100%;
}

.site-footer {
  background-color: $color--primary;
  width: 100%;
  color: lighten($color--primary, 20%);
  padding-right: $gutter--normal;
  padding-left: $gutter--normal;
  text-align: center;
  font-family: $type__sans-serif;
  
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
