/*------------------------------------*\
    #ARTISTS
\*------------------------------------*/

.artists {
    @extend %container;
}
    
    .artists__list {
        @extend %reset-list;
        @extend %grid--full;
    }

        .artists__artist {
            @extend %grid__item;
            @extend %one-half; 
            @extend %lap--one-third;
            @extend %desk--one-quarter;
                       
            text-align: center;
            padding: $gutter--skinny $gutter--narrow;

            
        }

            .artist__headshot {
                overflow: hidden;
                border-radius: 50%;
                display: block;
                width: 50%;
                text-align: center;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border: 2px solid $color--primary;
            }
            
            .artist__title {
                font-size: $type--title;
            }
            
                .artist__link {}
            
            .artist__location {
                color: $color--gray-light;
                font-size: $type--small;
                line-height: 1;
            }
            
            .artist__genres {
                @extend %reset-list;
                
                color: $color--gray-light;
                line-height: 1;
                text-align: center;
            }
            
                .genres__genre {
                    font-size: $type--small;
                    line-height: 1;
                    display: inline-block;
                    margin: 0 2px;
                    background-color: $color--gray-light;
                    border: 1px solid darken($color--gray-light, 10%);
                    padding: 2px $gutter--narrow;
                    border-radius: $gutter--skinny;
                    color: $color--white; 
                }
                
                
/*------------------------------------*\
    #ARTIST
\*------------------------------------*/

.artist-page {
    @extend %container;
    
    .artist {
        max-width: $type__measure;
        margin: 0 auto;
    }
    
        .artist__header {
            @extend %grid--full;
        }
        
            .artist__headshot {
                @extend %grid__item;
                @extend %one-whole;
                @extend %palm-wide--one-half;

                max-width: 200px;
                margin-right: $gutter--normal;
                
                @media screen and (min-width: $palm-wide) {
                    left: 0;
                    transform: none;
                }
            }
            
            .artist__head-wrapper {
                @extend %grid__item;
                @extend %one-whole;
                @extend %palm-wide--one-half;
            }
            
            .artist__title {
                text-align: center;
                font-size: $type--large;
                
                @media screen and (min-width: $palm-wide) {
                    text-align: left;
                }
            }
            
            .artist__location {
                
                display: block;
                
                text-align: left;
            }
            
            .artist__genres {

                
            }
            
                .genres__genre {
                    text-align: center;
                }
            
            .artist__social-list {
                @extend %reset-list;
//                 @extend %grid;                
                display: block;
//                 float: left;
                padding-top: $gutter--narrow;
                text-align: center;
            }
            
                .artist__social-item {
                    display: inline;
                    padding-bottom: $gutter--skinny;
                }
                
                    .artist__social-link {
                        display: inline-block;
                        background-color: $color--primary;
                        color: $color--white;
                        text-transform: uppercase;
                        font-size: $type--small;
                        padding-right: $gutter--skinny;
                        
                        &:before {
                            background-color: lighten($color--primary, 10%);
                            padding: $gutter--skinny 0;
                            margin-right: $gutter--skinny;
                        }
                    }
                
        .artist__bio {
            padding-top: $gutter--narrow;
            clear: both;
        }
            
            .artist__bio p {
                
            }
}

    