.module {
    border-radius: $size--border-radius;
    border: 1px solid $color--border;
    background-color: $color--grey;
    color: $color--white;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


    .module__head,
    .module__foot {
        text-align: center;
        background-color: $color--grey-dark;
    }

    .module__head {
        border-bottom: 1px solid $color--border;
        text-transform: uppercase;
    }

        .module__title {
            font-size: $type--small;
            line-height: $size--touch-target;
        }


    .module__body {
        margin: $gutter--narrow;
    }

        .module__section-title {
            font-size: $type--base;
        }


    .module__foot {
        border-top: 1px solid $color--border;
        color: $color--grey-light;
        padding-left: $gutter--narrow;
        padding-right: $gutter--narrow;
        font-size: $type--base;

        > :first-child {
            padding-top: $gutter--narrow;
        }

        > :last-child {
            padding-bottom: $gutter--narrow;
        }
    }

// Extension
@import "o-module--tab";
@import "o-module--profile";




/*










    .module--profile {

        .module__head {
            position: relative;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            margin-bottom: 50px;
        }

        .profile__headshot {
            position: absolute;
            top: 100%;
            width: 100px;
            height: auto;
            transform: translateY(-50%);
            left: $gutter--narrow;
            border: 2px solid $color--grey;
        }

        .profile__name {
            margin: 0;
            padding-top: $gutter--narrow;
            position: absolute;
            top: 100%;
            left: $gutter--normal + 100px;
            text-transform: none;
        }

        .profile__role {
            margin: 0;
        }

    }


.module--release {

  .module__head {
    position: relative;
    line-height: 0;
  }

    .release__artwork {
      width: 100%;
      height: auto;
    }

    .release__title {
      position: absolute;
      bottom: $gutter--normal;
      left: $gutter--normal;
      text-align: left;
      line-height: 1;
      text-shadow: 1px  1px 2px rgba(0,0,0,0.2);
    }

      .release__artist {
        font-size: $type--base;
        font-weight: normal;
        font-style: normal;

        margin: 0;
      }

      .release__name {
        margin: 0;
      }

  .release__track-list {
    @extend %reset-list;

    margin-top: $gutter--narrow;
    margin-left: -$gutter--narrow;
    margin-right: -$gutter--narrow;
    border: 1px solid $color--border;
    border-left: none;
    border-right: none;


  }

    .release__track {
      @extend %grid--full;

      background-color: $color--grey-medium;
      padding-left: $gutter--narrow;
      padding-right: $gutter--narrow;
      line-height: 1.5;

      &:nth-of-type(2n) {
        background-color: $color--grey;
      }
    }

      .track__title {
        @extend %grid__item;
        @extend %five-sixths;
      }

      .track__time {
        @extend %grid__item;
        @extend %one-sixth;
        text-align: right;
      }
}






    .profile__head {
        @extend %clearfix;
    }

        .profile__headshot {
            float: left;
            margin-right: $gutter--narrow;
            border-radius: 50%;
        }

        .profile__name {
            font-size: $type--base;
            line-height: 1;
            text-align: left;
        }

            .profile__role {
                font-size: $type--small;
                color: $color--primary;
                font-weight: 200;
                display: block;
                padding-top: $gutter--skinny;
            }
*/

