.module--is-event {
    text-align: center;
}

    .event__artwork {
        display: none;
    }

    .event-info {
        @extend %reset-list;
    }

    .event__body {
        margin: 0;
        padding: $gutter--narrow;
        background-image: linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0.2));
        text-shadow: 0 2px 1px rgba(0,0,0,0.3);
    }
