.module--is-profile {
    .module__head {
        height: 100px;
        margin-bottom: $size--touch-target;
    }

    .module__body {
        padding-top: $gutter--narrow;
    }

    .headshot {
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        left: $gutter--narrow;
    }

    .person-name {
        margin: 0;
        padding-top: $gutter--narrow;
        position: absolute;
        top: 100%;
        left: $gutter--normal + 100px;

        text-align: left;
    }

        .person-role {
            margin: 0;
            color: $color--primary;
        }

}







