.module--is-profile {
    .module__head {
        position: relative;
        height: 100px;
        margin-bottom: $size--touch-target;

    }

    .module__body {
        padding-top: $gutter--narrow;
    }



}


    .profile__cover {
        overflow: hidden;
        max-height: 100px;
        margin-bottom: 0;
        position: relative;
    }

        .profile__cover img {

        }


    .profile__headshot {
        position: absolute;
        top: 100%;
        width: 100px;
        height: auto;
        transform: translateY(-50%);
        left: $gutter--narrow;
        border: 2px solid $color--grey;
    }

    .profile__name {
        font-size: $type--small;
        margin: 0;
        padding-top: $gutter--narrow;
        position: absolute;
        top: 100%;
        left: $gutter--normal + 100px;
        text-transform: none;
        text-align: left;
    }

        .profile__role {
            margin: 0;
            font-weight: 200;
            font-size: $type--base;
            display: block;
            color: $color--primary;
        }