.module {
    border-radius: $size--border-radius;
    border: 1px solid $color--border;
    background-color: $color--grey;
    color: $color--white;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


    .module__head,
    .module__foot {
        text-align: center;
        background-color: $color--grey-dark;
    }

    .module__head {
        border-bottom: 1px solid $color--border;
        text-transform: uppercase;
        line-height: 0;
        position: relative;
    }

        .module__title {
            font-size: $type--small;
            line-height: $size--touch-target;
        }


    .module__body {
        margin: $gutter--narrow;
    }

        .module__section-title {
            font-size: $type--base;
        }


    .module__foot {
        border-top: 1px solid $color--border;
        color: $color--grey-light;
        padding-left: $gutter--narrow;
        padding-right: $gutter--narrow;
        font-size: $type--base;

        > :first-child {
            padding-top: $gutter--narrow;
        }

        > :last-child {
            padding-bottom: $gutter--narrow;
        }
    }

// Extension
@import "o-module--tab";
@import "o-module--profile";
@import "o-module--release";
