@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-3t9198');
	src:url('../../fonts/icomoon.eot?#iefix-3t9198') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-3t9198') format('woff'),
		url('../../fonts/icomoon.ttf?-3t9198') format('truetype'),
		url('../../fonts/icomoon.svg?-3t9198#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e600";
}
.icon-users:before {
	content: "\e601";
}
.icon-location:before {
	content: "\e602";
}
.icon-chat:before {
	content: "\e603";
}
.icon-house:before {
	content: "\e604";
}
.icon-music:before {
	content: "\e605";
}
.icon-rocket:before {
	content: "\e606";
}
.icon-ticket:before {
	content: "\e607";
}
.icon-layout:before {
	content: "\e60e";
}
.icon-video:before {
	content: "\e60f";
}
.icon-cloud:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e611";
}
.icon-pause:before {
	content: "\e612";
}
.icon-sound:before {
	content: "\e610";
}
.icon-mute:before {
	content: "\e613";
}
.icon-github:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-tumblr:before {
	content: "\e60c";
}
.icon-soundcloud:before {
	content: "\e60d";
}
