.radio.container {
/*   margin: $gutter--normal * 2 0 0 0 !important; */
}

.radio {

  .section-title {
    display: none;
  }

  .broadcast {
    text-align: center;
/*     margin: 0 $gutter--normal; */

  }

  .broadcast p {
    margin: 0;
  }

  .broadcast--inactive {
    @extend .broadcast;
    background-color: $color--blue;
    line-height: $size--touch-target;
    color: $color--white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }
}

.jp-audio-stream {
  @extend %clearfix;
  background-color: $color--navy;
  padding: $gutter--normal;
  margin: $gutter--normal 0;
  color: $color--white;
  box-shadow: inset 0 0 3px rgba(0,0,0,1);
  border-radius: 5px;
}
  .jp-audio-container {}
    .jp-type-single {}
      .jp-gui.jp-interface {}
        .jp-controls {
          margin: $gutter--narrow 0;
          @extend %clean-list;
          text-align: center;
        }
          .jp-button {
            display: inline-block;
          }
          .jp-play,
          .jp-pause,
          .jp-mute,
          .jp-unmute,
          .jp-volume-max {
            color: $color--white;
            text-decoration: none;
            padding: 0 $gutter--normal;
            display: block;
            background-color: $color--blue;
            height: $size--touch-target;
            line-height: $size--touch-target;
            border-radius: 5px;
            font-size: 24px;
            margin: 0 $gutter--skinny;
          }
        .jp-volume-bar {
          border: 1px solid $color--blue;
          background-color: $color--white;
          padding: 1px;
          border-radius: 3px;
          width: 50%;
          margin-left: 25%;
        }
          .jp-volume-bar-value {
            background-color: $color--blue;
            height: $size--touch-target / 2;
            border-radius: 2px;
          }
      .jp-details {}
        .jp-title {
          color: $color--white;
          margin-bottom: 0;
          padding-bottom: $gutter--skinny;
          font-weight: 200;
          text-align: center;

          @include typecsset-font-size($typecsset-h3-size);
        }
      .jp-no-solution {}