@charset "UTF-8";
/* -- $FUNCTIONS --                         */
/* em($px) - convert px to ems              */
/* ---- Custom */
/*


// Organisms
// -- modules
@import 'organisms/o-module';

// -- page elements
@import 'organisms/o-page-head';
@import 'organisms/o-primary-nav-new';
// @import 'o-page-foot';
// @import 'o-artists';

*/
/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.styleguide__code,
.styleguide__demo {
  display: inline-block;
  /* [1] */
  padding-left: 20px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.styleguide__atom,
.styleguide__molecule,
.styleguide__organism {
  margin-left: 0; }
  .styleguide__atom > .styleguide__code,
  .styleguide__molecule > .styleguide__code,
  .styleguide__organism > .styleguide__code,
  .styleguide__atom > .styleguide__demo,
  .styleguide__molecule > .styleguide__demo,
  .styleguide__organism > .styleguide__demo {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 47.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  .styleguide__code,
  .styleguide__demo {
    width: 50%; }

  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (max-width: 63.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 64em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  .styleguide__code,
  .styleguide__demo {
    width: 50%; }

  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="push--"] {
  position: relative; }

/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
@media only screen and (max-width: 47.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (max-width: 63.9375em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
@media only screen and (min-width: 64em) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */ }
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
@font-face {
  font-family: "icons";
  src: url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icons";
  src: url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.eot");
  src: url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.woff") format("woff"), url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.ttf") format("truetype"), url("/assets/fonts/icons-ff1fa8aeca9ccf49a5091cfb1d938ef0.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--amazon--alt:before {
  content: "\f101"; }

.icon--amazon:before, .tag--amazon span:before {
  content: "\f102"; }

.icon--apple:before, .tag--itunes span:before {
  content: "\f103"; }

.icon--calendar:before {
  content: "\f104"; }

.icon--cloud:before, .tag--mixcloud span:before {
  content: "\f105"; }

.icon--facebook:before, .tag--facebook span:before {
  content: "\f106"; }

.icon--github:before {
  content: "\f107"; }

.icon--group:before {
  content: "\f108"; }

.icon--headphones:before {
  content: "\f109"; }

.icon--heart--outline:before {
  content: "\f10a"; }

.icon--heart:before {
  content: "\f10b"; }

.icon--instagram:before {
  content: "\f10c"; }

.icon--lab:before {
  content: "\f10d"; }

.icon--mail:before {
  content: "\f10e"; }

.icon--map-marker:before {
  content: "\f10f"; }

.icon--music:before {
  content: "\f110"; }

.icon--pause:before {
  content: "\f111"; }

.icon--play:before {
  content: "\f112"; }

.icon--quote--close:before {
  content: "\f113"; }

.icon--quote--open:before {
  content: "\f114"; }

.icon--rss:before {
  content: "\f115"; }

.icon--shopify:before, .tag--shopify span:before {
  content: "\f116"; }

.icon--soundcloud:before, .tag--soundcloud span:before {
  content: "\f117"; }

.icon--star--half:before, .rating__star--half:before {
  content: "\f118"; }

.icon--star--outline:before, .rating__star--empty:before {
  content: "\f119"; }

.icon--star:before, .rating__star--full:before {
  content: "\f11a"; }

.icon--tag:before {
  content: "\f11b"; }

.icon--tumblr:before {
  content: "\f11c"; }

.icon--twitter:before, .tag--twitter span:before {
  content: "\f11d"; }

.icon--user:before {
  content: "\f11e"; }

.icon--volume--down:before {
  content: "\f11f"; }

.icon--volume--mute:before {
  content: "\f120"; }

.icon--volume--up:before {
  content: "\f121"; }

.icon--youtube:before {
  content: "\f122"; }

.styleguide {
  padding: 0;
  width: 90%;
  margin: 22px auto 0;
  border: 1px solid #20272D;
  border-radius: 4px;
  overflow: hidden; }

.styleguide__atoms--single,
.styleguide__molecules--single,
.styleguide__organisms--single {
  padding: 22px; }

.styleguide__section-title {
  background-color: #2D3840;
  line-height: 44px;
  border-bottom: 1px solid #20272D;
  padding-left: 22px;
  margin-bottom: 22px; }

.styleguide__atom,
.styleguide__molecule,
.styleguide__organism {
  margin: 0 11px 22px;
  border: 1px solid #20272D;
  border-radius: 4px; }

.styleguide__atom-title,
.styleguide__molecule-title,
.styleguide__organism-title {
  background-color: #2D3840;
  line-height: 44px;
  border-bottom: 1px solid #20272D;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 22px; }

.styleguide__description {
  border-bottom: 1px solid #20272D;
  padding: 11px 22px;
  background-color: #3c4952; }

.styleguide__code-head {
  background-color: #2D3840;
  margin: 0;
  padding: 0;
  line-height: 44px;
  border-bottom: 1px solid #20272D;
  padding-left: 22px;
  font-weight: 400;
  font-style: normal; }

.styleguide__code-pre {
  margin: 0;
  background-color: #111111;
  padding: 0 11px; }

.styleguide__demo-head {
  background-color: #2D3840;
  margin: 0;
  padding: 0;
  line-height: 44px;
  border-bottom: 1px solid #20272D;
  padding-left: 22px;
  font-weight: 400;
  font-style: normal; }

.styleguide__preview {
  padding: 22px; }

.styleguide .button {
  display: inline-block;
  width: auto; }

.rating, .tag-list, h1,
h2,
h3,
h4,
h5,
h6, p, fieldset {
  padding: 0;
  margin: 0; }

.rating, .tag-list {
  list-style: none; }

/*
 * Hide visually and from screen readers: h5bp.com/u
 */
/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 * /

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 * /

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 * /

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 * /

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 * /

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 * /

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 * /

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 * /

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 * /

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 * /

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 * /

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 * /

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * /

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 * /

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 * /

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 * /

input[type="search"] {
  -webkit-appearance: textfield; /* 1 * /
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 * /
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 * /

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * /

legend {
  border: 0; /* 1 * /
  padding: 0; /* 2 * /
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 * /

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/******************************************************************************\
    # ATOMS
\******************************************************************************/
/**
 * All Elements
 */
*,
*:before,
*:after {
  box-sizing: border-box; }

/**
 * Selection
 **/
::-moz-selection {
  background-color: rgba(253, 133, 47, 0.7); }

::selection {
  background-color: rgba(253, 133, 47, 0.7); }

/**
 * Body
 */
body {
  margin: 0 auto;
  background-color: #35414a;
  color: #ffffff;
  line-height: 1.5;
  font-size: 0.875em;
  font-weight: 200;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  /* 1 */ }

/**
 * Fonts
 */
.font-secondary {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5; }

h1 {
  font-size: 1.54688em; }

h2 {
  font-size: 1.3125em; }

h3 {
  font-size: 1.03125em; }

h4 {
  font-size: 0.875em; }

h5 {
  font-size: 0.58125em; }

h6 {
  font-size: 0.4375em; }

/**
 * Paragraph
 */
p {
  margin-bottom: 11px; }

/**
 * Block Quote
 */
blockquote {
  border-left: 2px solid #20272D;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 11px;
  padding-left: 22px; }

blockquote p:last-child {
  margin-bottom: 0; }

/**
 * Inline Elements
 */
a {
  /**
   * 1. Remove the gray background color from active links in IE 10.
   * 2. Improve readability when focused and also mouse hovered in all browsers.
   */
  background: transparent;
  /* 1 */
  color: #4D97CF;
  text-decoration: none; }
  a a:active,
  a a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #5AAFEE; }
  a:focus, a:active {
    color: #124266; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

b {
  font-weight: normal;
  color: #86919a; }

i {
  font-style: normal;
  padding-left: 5.5px;
  padding-right: 5.5px; }

u {
  text-decoration: none;
  border-bottom: 1px dashed #ffffff; }

ins {
  text-decoration: none; }
  ins:before, ins:after {
    display: inline; }
  ins:before {
    content: '['; }
  ins:after {
    content: ']'; }

sub,
sup {
  font-size: 0.58125em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: 1.03125em; }

abbr[title] {
  border-bottom: 1px dotted; }

code,
kbd,
samp {
  font-family: "Source Code Pro", monospace;
  font-size: 1em; }

q,
cite,
dfn {
  font-style: italic; }

mark {
  position: relative;
  background: rgba(253, 133, 47, 0.7);
  color: #ffffff; }

var {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  font-style: normal; }

/**
 * Time
 */
/**
 * Preformatted Text
 */
pre {
  font-family: "Source Code Pro", monospace;
  font-size: 1em; }

/**
 * Horizontal Rule
 */
/**
 * 1. Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  border: none;
  border-top: 1px solid #4D97CF; }

.hr--secondary {
  border-top-color: #fd8524; }
.hr--dotted {
  border-top-style: dotted; }
.hr--dashed {
  border-top-style: dashed; }

/**
 * Lists
 */
/**
 * Unordered List
 */
ul {
  padding-left: 22px; }

/**
 * Ordered List
 */
ol {
  padding-left: 22px; }

/**
 * Definition List
 */
dd {
  padding-left: 20px;
  border-left: 2px solid #20272D;
  margin-left: 0;
  margin-bottom: 11px;
  background-color: rgba(255, 255, 255, 0.05); }

/**
 * Forms
 */
fieldset {
  border: none; }

/**
 * Legend
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Label
 */
label {
  display: block;
  /**
   * Required Notation
   */ }
  label abbr[title] {
    border-bottom: none;
    text-decoration: none; }
  label.label--is-valid {
    color: #5d9632; }
  label.label--is-error {
    color: #ff4136; }

/**
 * Input
 */
input {
  width: 100%;
  border-radius: 4px;
  line-height: 44px;
  height: 44px;
  border: 1px solid #20272D;
  padding: 0 11px;
  color: #2D3840;
  margin-bottom: 11px;
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   */ }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    /**
     * 1. Remove inner padding and search cancel button in Safari and Chrome
     *    on OS X. Safari (but not Chrome) clips the cancel button when the
     *    search input has padding (and `textfield` appearance).
     */ }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
      /* 1 */ }
  input:focus {
    outline: 3px solid rgba(253, 133, 47, 0.7); }
  input.input--is-valid {
    border-width: 3px;
    color: #5d9632;
    border-color: #5d9632; }
  input.input--is-error {
    border-width: 3px;
    color: #ff4136;
    border-color: #ff4136; }

/**
 * Textarea
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
  /* 1 */
  margin-bottom: 11px;
  width: 100%;
  border-radius: 4px;
  line-height: 44px;
  border: 1px solid #20272D;
  padding: 0 11px;
  color: #2D3840;
  margin-bottom: 11px; }
  textarea:focus {
    outline: 3px solid rgba(253, 133, 47, 0.7); }

/**
 * Checkbox
 */
input[type="checkbox"] {
  width: auto;
  float: left;
  margin-right: 11px; }

.checkbox-label {
  height: 44px;
  overflow: visible;
  white-space: nowrap;
  margin-bottom: 22px; }
  .checkbox-label span {
    line-height: 44px; }

/**
 * Radios
 */
input[type="radio"] {
  width: auto;
  float: left;
  margin-right: 11px; }

.radio-label {
  height: 44px;
  overflow: visible;
  white-space: nowrap;
  margin-bottom: 22px; }
  .radio-label span {
    line-height: 44px; }

/**
 * Range Input
 */
input[type="range"] {
  box-sizing: content-box;
  height: 2.75px;
  width: auto;
  display: block;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #20272D;
  margin-top: 19.25px;
  margin-bottom: 19.25px; }

::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #4D97CF;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #20272D; }

/**
 * Select
 */
select {
  text-transform: none;
  height: 44px;
  margin: 11px 0;
  line-height: 44px;
  border: 1px solid #20272D;
  color: #20272D;
  width: 100%; }

/**
 * Buttons
 */
.button {
  display: inline-block;
  margin: 5.5px 0;
  border-radius: 4px;
  border: none;
  background-color: #4D97CF;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 44px;
  color: #ffffff;
  width: 100%;
  text-align: center; }
  .button--is-hover, .button:hover {
    background-color: #5AAFEE;
    color: #ffffff; }
  .button--is-focus, .button:focus, .button--is-active, .button:active {
    background-color: #124266; }
  .button--is-disabled {
    background-color: #999999;
    cursor: default; }
    .button--is-disabled:hover, .button--is-disabled:active {
      background-color: #999999; }
  .button--is-hollow, .button--is-hollow-alt {
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 40px; }
    .button--is-hollow:hover, .button--is-hollow-alt:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .button--is-hollow:active, .button--is-hollow-alt:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .button--is-alt {
    background-color: #fd8524; }
    .button--is-alt:hover {
      background-color: #fc923c; }
    .button--is-alt:focus, .button--is-alt:active {
      background-color: #e28436; }
  .button--is-hollow-alt {
    border-color: #2D3840;
    color: #2D3840; }
    .button--is-hollow-alt:hover {
      border-color: #86919a;
      color: #86919a; }

/**
 * Progress
 */
/**
 * Tables
 */
table {
  border: 1px solid #20272D;
  border-collapse: collapse; }

thead {
  background-color: #2D3840;
  padding: 5.5px 11px;
  border-bottom: 2px solid #20272D; }

tfoot {
  padding: 5.5px 11px;
  background-color: #2D3840;
  border-top: 2px solid #20272D; }

td,
th {
  border: 1px solid #20272D;
  padding: 5.5px 11px; }

/**
 * Tags
 */
.tag {
  color: #ffffff;
  white-space: nowrap;
  background-color: #3c4952;
  border-radius: 4px;
  overflow: hidden;
  line-height: 22px;
  padding: 0 5.5px;
  display: inline-block;
  margin-bottom: 5.5px;
  margin-right: 5.5px;
  position: relative; }

.tag:hover {
  color: #ffffff; }
  .tag:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    content: '';
    background-color: rgba(255, 255, 255, 0.15); }

.tag:active,
.tag:focus {
  color: #ffffff; }
  .tag:active:after,
  .tag:focus:after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3); }

.tag span:before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  min-width: 22px;
  text-align: center;
  display: inline-block;
  margin-left: -5.5px;
  margin-right: 5.5px;
  height: 22px;
  padding-left: 2px; }

.tag--facebook {
  background-color: #3b5998; }
  .tag--facebook span:before {
    color: #3b5998; }

.tag--twitter {
  background-color: #00aced; }
  .tag--twitter span:before {
    color: #00aced; }

.tag--soundcloud {
  background-color: #ff3a00; }
  .tag--soundcloud span:before {
    color: #ff3a00; }

.tag--mixcloud {
  background-color: #5d9632; }
  .tag--mixcloud span:before {
    color: #5d9632; }

.tag--itunes {
  background-color: #a086d3; }
  .tag--itunes span:before {
    color: #a086d3; }

.tag--shopify {
  background-color: #96bf48; }
  .tag--shopify span:before {
    color: #96bf48; }

.tag--amazon {
  background-color: #ff9900; }
  .tag--amazon span:before {
    color: #ff9900; }

/**
 * Rating
 */
.rating__star {
  display: inline-block;
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4D97CF; }

.tag-list__item {
  display: inline-block; }

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

.module {
  border-radius: 4px;
  border: 1px solid #20272D;
  background-color: #35414a;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.module__head,
.module__foot {
  text-align: center;
  background-color: #2D3840; }

.module__head {
  border-bottom: 1px solid #20272D;
  text-transform: uppercase; }

.module__title {
  font-size: 1.03125em;
  line-height: 44px; }

.module__body {
  margin: 11px; }

.module__section-title {
  font-size: 0.875em; }

.module__foot {
  border-top: 1px solid #20272D;
  color: #86919a;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 0.875em; }
  .module__foot > :first-child {
    padding-top: 11px; }
  .module__foot > :last-child {
    padding-bottom: 11px; }

.module__pane:last-child .module__head {
  border-bottom: none; }
.module__pane--is-open {
  border-bottom: 1px solid #20272D; }
.module__pane--is-open:last-child {
  border-bottom: none; }
.module__pane--is-open:last-child .module__head {
  border-bottom: 1px solid #20272D; }

.module__title {
  background-color: #2D3840;
  line-height: 44px;
  text-transform: uppercase;
  padding-left: 11px;
  padding-right: 11px;
  margin: 0; }
  .module__pane--is-hover .module__title, .module__pane:hover .module__title {
    background-color: #3c4952; }

.module__content {
  max-height: 0;
  overflow: hidden; }
  .module__pane--is-open .module__content {
    max-height: inherit;
    padding: 11px; }

/*










    .module--profile {

        .module__head {
            position: relative;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            margin-bottom: 50px;
        }

        .profile__headshot {
            position: absolute;
            top: 100%;
            width: 100px;
            height: auto;
            transform: translateY(-50%);
            left: $gutter--narrow;
            border: 2px solid $color--grey;
        }

        .profile__name {
            margin: 0;
            padding-top: $gutter--narrow;
            position: absolute;
            top: 100%;
            left: $gutter--normal + 100px;
            text-transform: none;
        }

        .profile__role {
            margin: 0;
        }

    }


.module--release {

  .module__head {
    position: relative;
    line-height: 0;
  }

    .release__artwork {
      width: 100%;
      height: auto;
    }

    .release__title {
      position: absolute;
      bottom: $gutter--normal;
      left: $gutter--normal;
      text-align: left;
      line-height: 1;
      text-shadow: 1px  1px 2px rgba(0,0,0,0.2);
    }

      .release__artist {
        font-size: $type--base;
        font-weight: normal;
        font-style: normal;

        margin: 0;
      }

      .release__name {
        margin: 0;
      }

  .release__track-list {
    @extend %reset-list;

    margin-top: $gutter--narrow;
    margin-left: -$gutter--narrow;
    margin-right: -$gutter--narrow;
    border: 1px solid $color--border;
    border-left: none;
    border-right: none;


  }

    .release__track {
      @extend %grid--full;

      background-color: $color--grey-medium;
      padding-left: $gutter--narrow;
      padding-right: $gutter--narrow;
      line-height: 1.5;

      &:nth-of-type(2n) {
        background-color: $color--grey;
      }
    }

      .track__title {
        @extend %grid__item;
        @extend %five-sixths;
      }

      .track__time {
        @extend %grid__item;
        @extend %one-sixth;
        text-align: right;
      }
}






    .profile__head {
        @extend %clearfix;
    }

        .profile__headshot {
            float: left;
            margin-right: $gutter--narrow;
            border-radius: 50%;
        }

        .profile__name {
            font-size: $type--base;
            line-height: 1;
            text-align: left;
        }

            .profile__role {
                font-size: $type--small;
                color: $color--primary;
                font-weight: 200;
                display: block;
                padding-top: $gutter--skinny;
            }
*/
.module {
  max-width: 400px; }

/*


body {
  font-size: 14px;
  line-height: 21px;
}
h1 {
  font-size: 47px;
  line-height: 63px;
  margin-top: 42px;
  margin-bottom: 21px;
}
h2 {
  font-size: 32px;
  line-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px;
}
h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 21px;
}
h4 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 21px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 21px;
  margin-bottom: 21px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
*/
