/******************************************************************************\
    # ATOMS
\******************************************************************************/

/**
 * All Elements
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * Selection
 **/

::-moz-selection {
    background-color: $color--selection;
}
::selection {
    background-color: $color--selection;
}


/**
 * Body
 */

body {
    margin: 0 auto;
    background-color: $color--grey;
    color: $color--white;
    line-height: 1.5;
    font-size: $type--base;
    font-weight: 200;
    font-family: $type--sans-serif; /* 1 */
}


/**
 * Fonts
 */

.font-secondary {
  font-family: $type--serif;
}


/**
 * Headings
 */

@import "atoms/a-heading";


/**
 * Paragraph
 */

@import "atoms/a-paragraph";


/**
 * Block Quote
 */

@import "atoms/a-block-quote";


/**
 * Inline Elements
 */

@import "atoms/a-inline-element";


/**
 * Time
 */

@import "atoms/a-time";


/**
 * Preformatted Text
 */

@import "atoms/a-pre";


/**
 * Horizontal Rule
 */

@import "atoms/a-hr";


/**
 * Lists
 */
@import "atoms/a-list";


/**
 * Form Fields
 */

@import "atoms/a-field";


/**
 * Buttons
 */
@import 'atoms/a-button';


/**
 * Progress
 */

@import "atoms/a-progress";


/**
 * Tables
 */

@import "atoms/a-table";



/**
 * Tags
 */

@import "atoms/a-tag";


/**
 * Rating
 */

@import "atoms/a-rating";


/**
 * Cover
 */

@import "atoms/a-cover";


/**
 * Image
 */

@import "atoms/a-image";


/**
 * Person
 */

@import "atoms/a-person";


/**
 * Track
 */

@import "atoms/a-track";