/*------------------------------------*\
    #page-head
\*------------------------------------*/

.page-head {
    display: block;
    height: 75vw;
    min-height: 150px;
    max-height: 300px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid red;
    
    @media screen and (min-width: $breakpoint--lap) {
      margin-top: $size--touch-target;
    }
}

    .page-head__logo {
        @extend %reset-box;
        
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        height: 100%;
        background-color: $color--primary;
        border-bottom: 1px solid red;
//         
//         @include mask(url(/assets/img/dblok-logo.svg) 50% 50% no-repeat);
    }
    
        .page-head__tagline {
            font-size: $type--small;
            display: block;
        }
       
