.styleguide {
    padding: 0;
    width: 90%;
    margin: $gutter--normal auto 0;
    border: 1px solid $color--border;
    border-radius: $size--border-radius;
    overflow: hidden;
}

    .styleguide__atoms,
    .styleguide__molecules,
    .styleguide__organisms {
        &--single {
            padding: $gutter--normal;
        }
    }

        .styleguide__section-title {
            background-color: $color--grey-dark;
            line-height: $size--touch-target;
            border-bottom: 1px solid $color--border;
            padding-left: $gutter--normal;
            margin-bottom: $gutter--normal;


        }

        .styleguide__atom,
        .styleguide__molecule,
        .styleguide__organism {
            @extend %grid--full;

            margin: 0 $gutter--narrow $gutter--normal;
            border: 1px solid $color--border;
            border-radius: $size--border-radius;
        }

            .styleguide__atom-title,
            .styleguide__molecule-title,
            .styleguide__organism-title {

                background-color: $color--grey-dark;
                line-height: $size--touch-target;
                border-bottom: 1px solid $color--border;
                font-weight: 400;
                text-transform: capitalize;
                padding-left: $gutter--normal;
            }

            .styleguide__description {
                border-bottom: 1px solid $color--border;
                padding: $gutter--narrow $gutter--normal;
                background-color: $color--grey-medium;
            }

            .styleguide__code,
            .styleguide__demo {
                @extend %grid__item;
                @extend %lap--one-half;
                @extend %desk--one-half;
            }

            .styleguide__code {

            }

                .styleguide__code-head {
                    background-color: $color--grey-dark;
                    margin: 0;
                    padding: 0;
                    line-height: $size--touch-target;
                    border-bottom: 1px solid $color--border;
                    padding-left: $gutter--normal;
                    font-weight: 400;
                    font-style: normal;
                }


                .styleguide__code-pre {
                    margin: 0;
                    background-color: $color--black;
                    padding: 0 $gutter--narrow;


                }

                    .styleguide__code-area {


                    }



            .styleguide__demo {

            }

                .styleguide__demo-head {
                    background-color: $color--grey-dark;
                    margin: 0;
                    padding: 0;
                    line-height: $size--touch-target;
                    border-bottom: 1px solid $color--border;
                    padding-left: $gutter--normal;
                    font-weight: 400;
                    font-style: normal;
                }

                .styleguide__preview {
                    padding: $gutter--normal;
                }







.styleguide .button {
    display: inline-block;
    width: auto;
}