/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {

  margin: 0.67em 0;

}

h2 {
    @extend %reset-box;
    font-size: $type--large;
    font-weight: 200;
}

h3 {
	font-style: italic;
	margin-bottom: 10px;
	padding: 0;
}





p {
    @extend %reset-box;
}


/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}



/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}











@import 'organisms/o-section';
@import 'type--post';
