/* -- $FUNCTIONS --                         */
/* em($px) - convert px to ems              */
@function em($px){
  @return ($px/16px)+0em;
}


$site--domain: '0.0.0.0:4000';


// -- Colors
// ---- Cool
$color--aqua:  #7fdbff;
$color--blue:  #0054a4;
$color--navy:  #001f3f;
$color--teal:  #39cccc;
$color--green: #5d9632;
$color--olive: #3d9970;
$color--lime:  #01ff70;

// ---- Warm
$color--yellow:  #ffdc00;
$color--orange:  #ff851b;
$color--red:     #ff4136;
$color--fuchsia: #f012be;
$color--purple:  #b10dc9;
$color--maroon:  #85144b;

// ---- Gray Scale
$color--black:        #111111;
$color--gray-darker:  #222222;
$color--gray-dark:    #333333;
$color--gray:         #555555;
$color--gray-light:   #999999;
$color--gray-lighter: #eeeeee;
$color--white:        #ffffff;

/* ---- Custom */
$color--cosmic-latte: #FFF8E7;
$color--becca-purple: #663399;

// ---- Mains
$color--primary:   #206396;
$color--secondary: $color--orange;
$color--tertiary:  #282f36;

// ---- Neutrals
$color--neutral:          #473f3f;
$color--neutral_medium:   darken($color--neutral, 25%);
$color--neutral_dark:     darken($color--neutral, 50%);
$color--neutral_light:    lighten($color--neutral,25%);
$color--neutral_lighter:  lighten($color--neutral,50%);
$color--neutral_lightest: lighten($color--neutral,70%);

// ---- Links
$link__color:          $color--primary;
$link__color--hover:   darken($color--primary, 10);
$link__color--visited: darken($color--primary, 10);
$link__color--focus:   darken($color--primary, 10);

// ---- Messages
$alert__color:   #da4f49;
$error__color:   #b01400;
$info__color:    #d8dca2;
$inverse__color: #414141;
$success__color: #bcd3de;
$warning__color: $error__color;

// ---- Page Atomosphere
$body__color: $color--white;
$text__color: #473f3f;


// -- Typography
// ---- Sizes
$type--large: em(24.75px);
$type--title: em(21.00px);
$type--small: em(16.50px);
$type--base:  em(14.00px);
$type--tiny:  em( 9.30px);
$type--micro: em( 7.00px);


// ---- Font Measurements
$type--cutom-font-width: em(1000px);
$type--baseline-height: 1.5em;
$type--measure: 36em;
// ---- Font Families
$type--serif: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
$type--sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$type--mono: 'Source Code Pro', monospace;

// -- Sizes
$size--touch-target: 44px;
$size--menu-width: 250px;
$size--max-width: 960px;
$size--width: 90%;
$size--icon: 16px;

// -- Gutters
$gutter--normal: 22px;
$gutter--narrow: 11px;
$gutter--skinny: 5.5px;

// -- Breakpoints
$palm:     em(320px);
$palm-wide: em(480px);
$lap:      em(768px);
$desk:     em(1024px);


$breakpoint--palm: $palm;
$breakpoint--lap: $lap;
$breakpoint--desk: $desk;
$responsive:            true;
$mobile-first:          true;
$gutter:                20px;
$use-silent-classes:    true;
$push:                  true;
$pull:                  false;
$use-markup-fix:        true;
$breakpoints: (
    'palm' '(max-width: ' + em(767px) + ')',
    'lap' '(min-width: ' + em(768px) + ') and (max-width: ' + em(1023px) + ')',
    'portable' '(max-width: ' + em(1023px) + ')',
    'desk' '(min-width: ' + em(1024px) + ')'
);
$breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk');
$breakpoint-has-push:   ('palm', 'lap', 'portable', 'desk');
$breakpoint-has-pull:   ('palm', 'lap', 'portable', 'desk');

$grid--columns: 3;

$size--border-radius: 4px;



$color--border: #20272D;
$color--grey-dark: #2D3840;
$color--grey: #35414a;
$color--grey-medium: #3c4952;
$color--grey-light: #86919a;

$color--primary: #4D97CF;
$color--primary-light: #5AAFEE;
$color--primary-dark: #124266;

$color--secondary: #fd8524;
$color--secondary-light: #fc923c;
$color--secondary-dark: #e28436;

$color--secondary: #fd8524;
$color--secondary-light: #fc923c;
$color--secondary-dark: #e28436;

$color--facebook: #3b5998;
$color--twitter: #00aced;
$color--soundcloud: #ff3a00;
$color--mixcloud: $color--green;
$color--shopify: #96bf48;
$color--amazon: #ff9900;
$color--itunes: #a086d3;
$color--simpsons:  #eabf04;

$color--selection: rgba(253, 133, 47, 0.70);

/*


// Organisms
// -- modules
@import 'organisms/o-module';

// -- page elements
@import 'organisms/o-page-head';
@import 'organisms/o-primary-nav-new';
// @import 'o-page-foot';
// @import 'o-artists';

*/
@import '../../bower_components/csswizardry-grids/csswizardry-grids';
@import '../../assets/fonts/icons';

// pages
@import 'styleguide';

@import 'mixins';
@import 'normalize';
@import 'atoms';
@import 'molecules';
@import 'organisims';





/*


body {
  font-size: 14px;
  line-height: 21px;
}
h1 {
  font-size: 47px;
  line-height: 63px;
  margin-top: 42px;
  margin-bottom: 21px;
}
h2 {
  font-size: 32px;
  line-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px;
}
h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 21px;
}
h4 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 21px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 21px;
  margin-bottom: 21px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
*/
















