---
layout: default
---
<main class="artist-page">
  <article class="artist">
    <header class="artist__header">
        <img class="artist__headshot"
             src="{{ page.headshot }}" />
    
      <h2 class="artist__title">{{ page.title }}</h2>
    
      <small class="artist__location">{{ page.city }}, {{ page.state }}</small>
      
      <ul class="artist__genres">
        {% for genre in page.genres %}
          <li class="genres__genre">{{ genre }}</li>
        {% endfor %}
      </ul>
    
      {% for social in page.social %}
        {{ social }}
      {% endfor %}
    </header>
    
    <section class="artist__bio">
      {{ content }}
    </section>
    
  </article>
</main>