<!doctype HTML>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  
  <!-- build:css /assets/css/main.min.css -->
  <link rel="stylesheet"
        href="/assets/css/main.css" />
  <!-- /build -->
  
<body>
      
  {% include o-page-head.html %}
    
  {{content}}
    
  {% include o-primary-nav.html %}
  
  {% include o-page-foot.html %}
  
  {% include o-scripts.html %}
  
    <!-- build :remove:deploy -- > 
    <script src="/bower_components/perfbar/build/perfbar.js"></script>
    <script type="text/javascript">
    perfBar.init();
    
    var err = perfBar.addMetric({
      id: 'Test',
      label: 'Test new metric', // human readable name
      value: 18,
      budget: {
        max: 20,
        min: 1
      }
    });
    
    if ( !err ) console.log('Woho , no errors all is ok!');
    </script>
    <!-- /build -->
