---
layout: default
---
<main class="person-page">
  <article class="person">
    <header class="person__header">
        <img class="person__headshot"
             src="{{ page.headshot }}" /><!--
        
     --><div class="person__head-wrapper"><!--
     --><h2 class="person__title">{{ page.title }}</h2><!--
        
        {% if page.roles %}
     --><ul class="person__roles"><!--
            {% for role in page.roles %}
         --><li class="roles__role">{{ role }}</li><!--
            {% endfor %}
     --></ul><!--
        {% endif %}
    
        {% if page.social %}
     --><ul class="artist__social-list"><!--
            {% for social in page.social %}
         --><li class="artist__social-item">
                <a class="artist__social-link
                          artist__social-link--{{ social[0] }}"
                   href="{{ social[1] }}">{{ social[0] }}</a>
            </li><!--
            {% endfor %}
     --></ul><!--
        {% endif %}
     --></div>
    </header>
    
    <section class="artist__bio">
      {{ content }}
    </section>
    
  </article>
</main>